A.m12 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; 285DER-LEFT: #b1bdf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; FONT-FAMILY: Arial; COLOR: #E3E3EB; font-weight:bold; TEXT-DECORATION:; none display:block;
}
A.m12:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION:; none display:block;
}
A.m11 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 290px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none; COLOR: #E3E3EB; font-weight:bold; display:block;
}
A.m11:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt;  FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 290px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; COLOR: #762A1A; TEXT-ALIGN: center; TEXT-DECORATION: none; font-weight:bold; display:block;
}

A.m10 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none; COLOR: #E3E3EB; font-weight:bold; display:block; 
}
A.m10:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt;  FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; COLOR: #762A1A; TEXT-ALIGN: center; TEXT-DECORATION: none; font-weight:bold; display:block;
}
A.m9 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 240px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #D9D9FF; TEXT-ALIGN: center;  TEXT-DECORATION: none; display:block;
}
A.m9:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 240px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none; display:block;
}


A.m8 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 280px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; FONT-FAMILY: Arial; COLOR: #E3E3EB; font-weight:bold; TEXT-DECORATION: none; display:block;
}
A.m8:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 280px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none; display:block;
}


A.m7 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 380px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; FONT-FAMILY: Arial; TEXT-DECORATION: none; display:block;
}
A.m7:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 380px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #FFCCFF; TTEXT-ALIGN: center; COLOR: #762A1A; FONT-FAMILY: Arial; TEXT-DECORATION: none; display:block;
}
A.m6 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 300px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; FONT-FAMILY:Verdana, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none; COLOR: #29166F;  font-weight:bold; display:block;
}
A.m6:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 300px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; FONT-FAMILY:Verdana, sans-serif; COLOR: #762A1A;  TEXT-ALIGN: center;  TEXT-DECORATION: none; display:block;
}
A.m5 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 745px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; FONT-FAMILY:Verdana, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none; COLOR: #29166F;  font-weight:bold; display:block;
}
A.m5:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 745px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; FONT-FAMILY:Verdana, sans-serif; COLOR: #762A1A;  TEXT-ALIGN: center;  TEXT-DECORATION: none; display:block;
}
A.m4 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt;  FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; COLOR: #FFFFFF; font-weight:bold; TEXT-DECORATION: none; display:block; 
}
A.m4:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; COLOR: #762A1A;  FONT-FAMILY:Arial, sans-serif; TEXT-ALIGN: center; font-weight:bold; TEXT-DECORATION: none; display:block; 
}
A.m4_1 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt;  FONT-FAMILY: Arial;PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; TEXT-DECORATION: none; COLOR: #E3E3EB; font-weight:bold; 
}
A.m4_1:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; COLOR: #762A1A; FONT-FAMILY: Arial; TEXT-ALIGN: center;  TEXT-DECORATION: none; font-weight:bold;
}
FONT.m4_1 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #d3dbf2 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 760px; COLOR: #111111; PADDING-TOP: 1px; BORDER-BOTTOM: #d3dbf2 2px solid; BACKGROUND-COLOR: #D9D9FF; TEXT-ALIGN: center; FONT-FAMILY:Verdana, sans-serif; COLOR: #762A1A; TEXT-DECORATION: none; font-weight:bold;
}
A.m3 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 433px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; FONT-FAMILY: Arial; COLOR: #E3E3EB; TEXT-ALIGN: center; font-weight:bold; TEXT-DECORATION: none
}
A.m3:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 433px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; FONT-FAMILY: Arial; COLOR: #762A1A;  TEXT-ALIGN: center; font-weight:bold; TEXT-DECORATION: none
}
A.m2 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 140px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; FONT-FAMILY: Arial; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m2:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 140px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #D9D9FF; FONT-FAMILY: Arial; COLOR: #762A1A;  TEXT-ALIGN: center;  TEXT-DECORATION: none
}
A.m1 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 130px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; FONT-FAMILY: Arial; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.m1:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 130px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #FFCCFF; FONT-FAMILY: Arial; COLOR: #762A1A;  TEXT-ALIGN: center;  TEXT-DECORATION: none
}

A.m0 {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b1bdf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt;  FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #b1bdf2 2px solid; WIDTH: 95px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #616785 2px solid; BACKGROUND-COLOR: #98a2d1; TEXT-ALIGN: center; COLOR: #E3E3EB; font-weight:bold; TEXT-DECORATION: none
}
A.m0:hover {
	BORDER-RIGHT: #858a99 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px;  FONT-SIZE: 8pt; FONT-FAMILY: Arial; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 95px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TTEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none
}
FONT.m1 {
	BORDER-RIGHT: #d3dbf2 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 95px; COLOR: #111111; PADDING-TOP: 1px; BORDER-BOTTOM: #d3dbf2 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none
}
FONT.m2 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 130px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #FFCCFF; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none
}
FONT.m3 {
	BORDER-RIGHT: #d3dbf2 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 285px; COLOR: #111111; PADDING-TOP: 1px; BORDER-BOTTOM: #d3dbf2 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none;
}
FONT.m8 {
	BORDER-RIGHT: #616785 2px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3dbf2 2px solid; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3dbf2 2px solid; WIDTH: 285px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #858a99 2px solid; BACKGROUND-COLOR: #c1c9df; TEXT-ALIGN: center; COLOR: #762A1A; TEXT-DECORATION: none
}

A.Синий1:link      {
color:#0000FF; text-decoration:underline; FONT-SIZE: 9pt;; font-weight:bold; font-style:italic; FONT-FAMILY: Arial;  text-decoration:underline;
}
A.Синий1:visited   {
color:#0000FF; text-decoration:underline; FONT-SIZE: 9pt;; font-weight:bold; font-style:italic; FONT-FAMILY: Arial;  text-decoration:underline;
}
A.Синий1:active    {
color:#762A1A; text-decoration:underline; FONT-SIZE: 9pt;; font-weight:bold; font-style:italic; FONT-FAMILY: Arial;  text-decoration:underline;
}
A.Синий1:hover     {
color:#762A1A; text-decoration:underline; FONT-SIZE: 9pt;; font-weight:bold; font-style:italic; FONT-FAMILY: Arial;  text-decoration:none;
}
A.Синий:link      {
color:#0000FF;  FONT-SIZE: 9pt;; FONT-FAMILY: Arial; font-weight:bold; text-decoration:underline;
}
A.Синий:visited   {
color:#0000FF;  FONT-SIZE: 9pt;; FONT-FAMILY: Arial; font-weight:bold; text-decoration:underline;
}
A.Синий:active    {
color:#762A1A;  FONT-SIZE: 9pt;; FONT-FAMILY: Arial; font-weight:bold; text-decoration:none;
}
A.Синий:hover     {
color:#762A1A;  FONT-SIZE: 9pt;; FONT-FAMILY: Arial; font-weight:bold; text-decoration:none;
}
A.Синий2:link      {
color:#0000FF; FONT-SIZE: 10pt; FONT-FAMILY: Arial; text-decoration:underline; 
}
A.Синий2:visited   {
color:#0000FF; FONT-SIZE: 10pt; FONT-FAMILY: Arial;  text-decoration:underline;
}
A.Синий2:active    {
color:#762A1A; FONT-SIZE: 10pt; FONT-FAMILY: Arial;  text-decoration:underline;
}
A.Синий2:hover     {
color:#762A1A; FONT-SIZE: 10pt; FONT-FAMILY: Arial;  text-decoration:none;
}
A.Зелёный:link    {
color:#FFFFCC; FONT-SIZE: 10pt; FONT-FAMILY: Arial; font-weight:bold;  text-decoration:underline;
}
A.Зелёный:visited {
color:#FFFFCC; FONT-SIZE: 10pt; FONT-FAMILY: Arial; font-weight:bold;  text-decoration:underline;
}
A.Зелёный:active  {
color:#FFFFCC; FONT-SIZE: 10pt; FONT-FAMILY: Arial; font-weight:bold;  text-decoration:underline;
}
A.Зелёный:hover   {
color:#FF0000; FONT-SIZE: 10pt; FONT-FAMILY: Arial; font-weight:bold;  text-decoration:none;
}
A.Зелёный2:link    {
color:#FFFFCC; FONT-SIZE: 8pt; FONT-FAMILY: Arial; text-decoration:underline;
}
A.Зелёный2:visited {
color:#FFFFCC; FONT-SIZE: 8pt; FONT-FAMILY: Arial; text-decoration:underline;
}
A.Зелёный2:active  {
color:#FFFFCC; FONT-SIZE: 8pt; FONT-FAMILY: Arial; text-decoration:underline;
}
A.Зелёный2:hover   {
color:#FFFFCC; FONT-SIZE: 8pt; FONT-FAMILY: Arial; text-decoration:none;
}


.title {
	FONT-SIZE: 11pt; COLOR: #1128a3; TEXT-ALIGN: center; font-weight:bold; FONT-FAMILY: Arial;
}
.title1 {
	FONT-SIZE: 10pt; COLOR: #1128a3; TEXT-ALIGN: center; font-weight:bold; FONT-FAMILY: Arial;
}
.title2 {
	FONT-SIZE: 10pt; COLOR: #FF0000; font-weight:bold; TEXT-ALIGN: center; FONT-FAMILY: Arial;
}
.title3 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #cc3300;; font-weight:bold; TEXT-ALIGN: center;
}
.title4 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial; COLOR: #1128a3; font-weight:bold; TEXT-ALIGN: left; MARGIN-LEFT: 2pt;
}
.title5 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial; COLOR: #29166F; font-weight:bold; TEXT-ALIGN: right; MARGIN-LEFT: 5pt;
}
.title6 {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial; COLOR: #29166F; font-weight:bold; TEXT-ALIGN: left; MARGIN-LEFT: 5pt;
}
.title7 {
	FONT-SIZE: 10pt; COLOR: #1128a3; TEXT-ALIGN: left; font-weight:bold; FONT-FAMILY: Arial;
}
.title8 {
	FONT-SIZE: 12pt; COLOR: #FF0000; TEXT-ALIGN: center; font-weight:bold; FONT-FAMILY: Arial;
}
.mail {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: justify; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt;
}
.mail1 {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: left; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt;
}
.mail2 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: center;
}
.mail3 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: left;  
}
.mail4 {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #FFFFCC; TEXT-ALIGN: center;
}
.mail5 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: right; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt;
}
.mail6 {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: center; 
}
.mail7 {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial; COLOR: #29166F; TEXT-ALIGN: center; 
}
.mail8 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: right; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt;
}
.mail9 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #1128a3; TEXT-ALIGN: center; font-weight:bold;
}
.mail10 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: left; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt; font-weight:bold;
}
}
.mail11 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: right; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt; font-weight:bold;
}
.mail12 {
	color:#800000; FONT-SIZE: 9pt;; FONT-FAMILY: Arial; font-weight:bold; MARGIN-LEFT: 5pt; MARGIN-RIGHT: 5pt;
}
.mail13 {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: center;
}
.mail14 {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #DCDCE7; TEXT-ALIGN: center;
}
.navtext {
display:block; float:center; margin:0px; padding:0px; BORDER-RIGHT: darkgray 1px outset; BORDER-TOP: darkgray 1px outset; FONT-SIZE: 10pt; font-family: Arial; BORDER-left: darkgray 1px outset; WIDTH: 300px; COLOR: #29166F; BORDER-BOTTOM: darkgray 1px outset; BACKGROUND-COLOR: #FFFFCC; layer-background-color: #29166F;
}
.poisk {
width: 103; font-size: 8pt; color: #000000; background-color: #98a2d1; text-align: center; height: 20; size: 20; border-left: 2px solid #b1bdf2; border-right: 2px solid #616785; border-top: 2px solid #b1bdf2; border-bottom: 2px solid #616785; padding: 1px;
}
.form {background-color: #D9D9FF; font-family: Arial
}
.reg {
width: 40; font-size: 8pt; color: #000000; background-color: #98a2d1; text-align: center; height: 20; size: 20; border-left: 2px solid #b1bdf2; border-right: 2px solid #616785; border-top: 2px solid #b1bdf2; border-bottom: 2px solid #616785; padding: 1px;
}
.td1 {
border-right: 1 solid #29166F; border-bottom: 1 solid #29166F
}
.td2 {
border-left: 1 solid #29166F; border-bottom: 1 solid #29166F; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, sans-serif; COLOR: #29166F; TEXT-ALIGN: center;
}
.td3 {
border-bottom: 1 solid #29166F
}
.td4 {
border-top: 1 solid #29166F
}
.td5 {
border-right: 1 solid #29166F; border-top: 1 solid #29166F
}
.td6 {
border-top: 1 solid #29166F; border-bottom: 1 solid #29166F
}
H1 {
	FONT-SIZE: 11pt; COLOR: #1128a3; TEXT-ALIGN: center; font-weight:bold; FONT-FAMILY: Arial;
}
H2 {
	FONT-SIZE: 10pt; COLOR: #1128a3; TEXT-ALIGN: center; font-weight:bold; FONT-FAMILY: Arial;
}

H5 {
	FONT-SIZE: 8pt; COLOR: #1128a3; TEXT-ALIGN: center; font-weight:bold; FONT-FAMILY: Arial;
}

.1 {
	FONT-SIZE: 10pt; color:#762A1A; FONT-FAMILY: Arial;
}


#naviBar {
	Z-INDEX: 10; VISIBILITY: visible; POSITION: relative
}

.mainpagenew {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 50%; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(http://www.ntpo.com/images/sings/3.gif); PADDING-BOTTOM: 0px; FONT: 12px Arial; COLOR: #CC0000; TEXT-ALIGN: center; PADDING-TOP: 8px; BORDER-BOTTOM: #716f64 0px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px; BACKGROUND-COLOR: #ffffe1; TEXT-DECORATION: none
}
.mainpagenew2 {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(http://www.ntpo.com/images/sings/3.gif); BACKGROUND-REPEAT: no-repeat
}
